@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{font-family:'Roboto', sans-serif}h1{font-weight:100;font-size:50px}.home{height:100%;width:100%;text-align:center}.home img{width:100%;max-width:300px;margin:0 auto}.home .Aligner{min-height:100vh;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}.home .Aligner-item{max-width:50%}.home .menu ul li{padding:10px 15px;display:inline-block;font-family:'Roboto', sans-serif;font-size:18px;font-weight:500}.home .version-num{background:#E8E8E8;border-radius:4px;padding:7px 15px;display:inline-block;font-size:12px;margin:10px 0 20px}.home a{text-decoration:none;color:#30395C;transition:all 0.3s ease-in-out}.home a:hover{color:#43D4D6}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Raleway', sans-serif;
  /* padding: 3em 2em; */
  font-size: 18px;
  /* background: #1A1F2B; */
  color: #aaa
}
body {
    /* min-height:100%;  */
    /* position:relative;  */
    background: #1A1F2B; 
}


header{
  /* background: #fdfdfd; */
  padding: 15px;
}
header a{
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}
header .fa{
  color: white;
  font-size: 16px;
}
header .logo-area{
  color: grey;
  display: inline-block;
  width: 20%;
  margin-left: -4px;
}
header .logo-area a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
header .menu{
  margin-top:10px;
  display: inline-block;
  float: right;
  width: 80%;
  /* margin-left: -4px; */
  /* border-right: 1px solid rgba(255, 255, 255, .3);
  border-left: 1px solid rgba(255, 255, 255, .3); */
  text-align: right;
  padding-right: 20px;
}
header .menu ul li{

  display:inline-block;
  border-right: 1px solid rgba(255, 255, 255, .3);

}
header .menu ul li a{
  display:inline-block;
  margin:0 20px;
}
header .menu ul li a:hover{
  color: rgb(95, 153, 207);
}
header .menu ul li a .webmenu{
  color:black;
}
header .menu ul li a .webmenu:hover{
  color: rgb(95, 153, 207);

  
}
/* header .icon-links{
  display:inline-block;
  width: 20%;
  margin-left: -4px;
  padding-left: 20px;
  
}
header .icon-links ul li{
  display:inline-block;
  margin-right: 10px;
}
header .icon-links .quick-options{
  display:inline-block;
  margin-left: -4px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}
header .icon-links .privacy{
  display:inline-block;
  padding-left: 20px;
} */
/* header .search-area{
  display:inline-block;
  width: 40%;
  margin-left: -4px;
  text-align: right;
} */
/* header .search-area ul li{
  display:inline-block;
} */
/* //////////////oldHeader */
/* header {
padding: 20px 15px;
}

#logo {
  text-align: center;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #30395C;
} */
/* .logo{
  margin: 4px auto;
}
#top-nav{
    float: right;
    display: inline-block;
    

}
#top-nav a {
    display: inline-block;
    font-family: sans-serif;
    color: #fff;
   padding: 25px 15px;
   text-decoration: none;
}

#top-nav a:hover {
    color: rgb(75, 119, 185);
   padding: 0px 15px;
   text-decoration: none;

} */



  
  .txt-rotate {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    /* padding: 3em 2em; */
    background: #1A1F2B;
    color: #aaa;
    font-size: 40px;
    
  }

  .who{
    text-align: center;
    display: inline;
    margin: 0 auto;
    text-align: center;
    padding: 10px 30px;
    border:  3px solid #aaa;
    
  }
  .center{
      margin: 75px 0 125px 0;
    text-align: center;
  }

  .main-header h1{
    margin-top: 20px;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 900;
    position: relative;
    z-index: 3;
    letter-spacing: 8px;
  }
  
  .main-header h1{
    font-family: 'Roboto', serif;
    color:grey;
  }
  h4{
    font-family: 'Cinzel', serif;
    font-size: 20px;
    padding: 20px;
    margin: 10px 0 100px 0;
    text-align: center;
    font-weight: 400;
    /* text-decoration-line: underline; */
    /* border: 1px solid white; */
    
  }
  h4 span {
    font-family: 'Raleway', serif;
    position: relative;
      margin: 60px 0;
      text-align: center;
      font-size: 25px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px;
      
  }
  .underline {
    padding-bottom: 7px;
    border-bottom: grey 1px solid;
}
  /* .container { 
   width: 900px;
   text-align: center;
   margin: 0 auto;
    } */

.work{
  margin:0 auto;
  text-align: center;
  max-width: 1000px;
}

.work .box{
  display: inline-block;
  background: white;
  width: 250px;
  height: 250px;
  line-height: 20px;
  margin:20px;
  overflow: hidden;
  cursor: pointer;
}

.work .box .hoverBox{ 
background: rgba(48, 57, 92, 0.9);
position: relative;
bottom:-100%;
height: 100%;
position: 100%;
transition: all .5s ease;
padding: 35px 15px;
text-align: left;
opacity: 0;
}
.work .box:hover .hoverBox{
  opacity: 1;
  bottom: 0;
}
.work .box .hoverBox h3{ 
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.work .box .hoverBox h5{
  color: white;
  font-size: 18px;
}

#about{
  height:500px;
}

.about-section h1{
  text-transform: uppercase;
  text-align: center;
}


/* .modal-container .modal{
  position:fixed;
  box-sizing: border-box;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
background: rgba(0, 0, 0, 0.7);
} */

/* .modal{
  box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
  width: 500px;
  height: 600px;
  padding: 15px;
} */
/* .modal img{
  width: 100%;
} */



/* Style the Image Used to Trigger the Modal */
/* #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



#content-area {
width:100%;
height: 100%;
overflow: auto;
}
/* app section */
#content-area .left{
  text-align: center;
  z-index: 5;
  float: left;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#content-area .right{
  float: left;
  width: 50%;
  height: 400px;
  /* background: aquamarine; */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
#content-area .right .description p{
  color: grey;
  padding: 10px;
  line-height: 25px;
}


/* web section */
#content-area2{
  margin-top: 70px;
  width:100%;
  height:100%;
  overflow: auto;
  }
  #content-area2 .left{
    height: 500px;
  }
  #content-area2 .right{
    height: 500px;
  }

.web{
  background: white;
  /* height: 100vh; */
}
#content-area2 .left .description{

}

#content-area2 .description .webtext{

  padding: 0;
  line-height: normal;
  }
#content-area2 .description .webimage{
  margin-top: 10px;
  /* margin-bottom: 80px; */

}
#content-area2 .left{
  float: left;
  width: 50%;
  display: flex;
  justify-content: center; /* align horizontal */
  }

  #content-area2 .left .description{
    text-align: center;
  }

#content-area2 .right{
float: right;
width: 50%;
display: flex;
justify-content: center; /* align horizontal */
}

#content-area2 .right .description{
  text-align: center;
}
.aston{
  margin-top: 75px;
}
#about{
  /* margin-top: 50px; */
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 30px;
  overflow: auto;
}
.about-me p{
  line-height: 1.6;
  text-indent: 25px;
  margin-top: 25px;

}

.footer {
  height: 25px;
  background: rgb(0, 0, 0);
  display: block;
  /* margin-top: 100px; */
  left: 0 ; right: 0; bottom: 0; 
  width: 100%;
  /* color:grey; */
  text-align: center;
  z-index: 4;
}
.signature{
  float: right;
  width: 30%;
}
.copy{
  float: left;
  width: 70%;
  display: flex;
  align-items: center; /* align vertical */
}

#about .icon{
  text-align: center;
  padding: 10px;
  
  /* width: 30px;
  margin-bottom: 50px; */
}

.icon .image{
  margin: 20px;
  /* display: block; */
  
}



/* .image{
  padding: 0 20px;
} */

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
  #content-area .left{
    width: 100%;
  }
  #content-area .right{
    width: 100%;
  }
  #about{
    /* margin-top: 50px; */
    height: 100%
    /* overflow: auto; */
  }

  #content-area2 .left{
    width: 100%;
  }
  #content-area2 .right{
    width: 100%;
  }
  
}