@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{font-family:'Roboto', sans-serif}h1{font-weight:100;font-size:50px}.home{height:100%;width:100%;text-align:center}.home img{width:100%;max-width:300px;margin:0 auto}.home .Aligner{min-height:100vh;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}.home .Aligner-item{max-width:50%}.home .menu ul li{padding:10px 15px;display:inline-block;font-family:'Roboto', sans-serif;font-size:18px;font-weight:500}.home .version-num{background:#E8E8E8;border-radius:4px;padding:7px 15px;display:inline-block;font-size:12px;margin:10px 0 20px}.home a{text-decoration:none;color:#30395C;transition:all 0.3s ease-in-out}.home a:hover{color:#43D4D6}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #1A1F2B;
}

header {
padding: 20px 15px;
}

#logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #30395C;
}
#top-nav{
    float: right;
    display: inline-block;
    

}
#top-nav a {
    display: inline-block;
    font-family: sans-serif;
    color: #fff;
   padding: 25px 15px;
   text-decoration: none;
}

#top-nav a:hover {
    color: rgb(107, 159, 236);
   padding: 0px 15px;
   text-decoration: none;

}


html{
    font-family: 'Raleway', sans-serif;
    /* padding: 3em 2em; */
    font-size: 18px;
    background: #1A1F2B;
    color: #aaa
  }
  
  .txt-rotate {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    /* padding: 3em 2em; */
    background: #1A1F2B;
    color: #aaa;
    font-size: 40px;
    
  }

  .who{
    text-align: center;
    display: inline;
    margin: 0 auto;
    text-align: center;
    padding: 10px 30px;
    border:  3px solid #aaa;
    
  }
  .center{
      margin-top: 175px;
    text-align: center;
  }

  .main-header{
    margin-top: 100px;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 75px;
    margin-bottom: 20px;
    font-weight: 900;
    position: relative;
    z-index: 3;
    letter-spacing: 15px;
  }
  h3{
    font-family: 'Cinzel', serif;
    font-size: 20px;
    padding: 30px;
    margin: 70px 0;
    text-align: center;
    font-weight: 400;
    /* text-decoration-line: underline; */
    /* border: 1px solid white; */
    
  }
  span {
    font-family: 'Raleway', serif;
    position: relative;
      margin: 60px 0;
      text-align: center;
      font-size: 25px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px;
      
  }
  .underline {
    padding-bottom: 7px;
    border-bottom: grey 1px solid;
}
  .container { 
   width: 900px;
   text-align: center;
   margin: 0 auto;
    }

.work{
  margin:0 auto;
  /* text-align: center; */
  max-width: 1000px;
}

.work .box{
  display: inline-block;
  background: white;
  width: 250px;
  height: 250px;
  line-height: 250px;
  margin:20px;
}
